recycling_project/*
datasets/*
compiled_dataset/*
Submitted_Code/*
Submitted_Code.zip
__pycache__/*
early/*
pytorch2keras/*
onnx2keras/*
PyVideoFramesExtractor
PlotNeuralNet/*
recycling_video2.mp4
train_data.npz
collected_dataset*
collected_dataset_hand/*
collected_dataset_hand*
dataset_collection*
augment_image*
model*
dataset_5_inter*
dataset_6_inter*